<% depthCounter++ %>
<% if (depthCounter != treeLimit) { %>
<% comments.findLast(comment => { %>
<ul class="nested-ul">
    <li>
        <%if (depthCounter < treeLimit){%>
            <%currentID = comment.ID%>
            <div class="reply-object">
                <div id="commentContent">
                    <h5 id="commentUsername"><%= comment.Username %></h5>
                    <p><%= comment.Contents%></p>
                </div>
                <div>
                    <form autocomplete="off" id= replyForm action="/comments/<%=postID%>/<%=expandedCommentID%>/<%=comment.ID%>" method="POST">
                        <input type="text" name="commentContents" placeholder="Reply"/>
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        <%}%>
    </li>
    <% if (comment.Replies.length) { %>
        <%- include('treeView', {pageReturn: "/comments/" + postID + "/" + expandedCommentID + "/", comments: comment.Replies, commentID: comment.ID}) %>
    <%}%>
</ul>
<%})%>
<%} else {%>
    <a href="/comments/<%=postID%>/<%=commentID%>">
        <div class="expand-comments">
            <p class="expand-comments">Expand Comments</p>
        </div>
    </a>
<%}%>

