<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title><%= post.Title %></title>
</head>
<body>
    <div class="content-container">
        <div class="post-container">
            <div class="post-object">
                <h5><%= post.Username%></h5>
                <h2><%= post.Title%></h2>
                <p><%= post.Contents%></p>
            </div>
            <div id="commentForm">
                <form autocomplete="off" action="/posts/<%=post.ID%>" method="POST">
                    <input type="text" name="commentContents" placeholder="Add a comment"/>
                    <input type="submit" value="Submit"/>
                </form>
            </div>  
        </div>

        <% var treeLimit = 6 %>
        <% var depthCounter = 0 %>
        <div class="comment-container">
            <%- include('treeView', {pageReturn: "/posts/" + post.ID + "/", postID: post.ID, comments: comments, depthCounter: depthCounter, treeLimit: treeLimit}) %>
        </div>
    </div>
</body>
</html>